[Unit]
Description=Caddy web server
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
Restart=no
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker rm proxy
ExecStart=/usr/bin/manage-caddy-sites --start
ExecStartPost=/usr/bin/start-proxy
ExecStop=/usr/bin/manage-caddy-sites --stop
ExecStopPost=-/usr/bin/docker stop proxy

[Install]
WantedBy=multi-user.target
