[Unit]
Description=Caddy web server (Kestrel)
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm kestrel
ExecStart=/usr/bin/docker run -v /etc/infra.d/kestrel.caddyfile:/etc/Caddyfile --name kestrel abiosoft/caddy:latest
ExecStop=/usr/bin/docker stop kestrel

[Install]
WantedBy=multi-user.target
